@{
    ViewBag.Title = "Task Page";
}
<div ng-controller="mvcCRUDCtrl">
    <div class="divList">
        <p><b><i>Task List</i></b></p>
        <table class="table table-hover">
            <tr>
                <td><b>TaskID</b></td>
                <td><b>Name</b></td>
                <td><b>Priority</b></td>
                <td><b>Date</b></td>
                <td><b>Comment</b></td>
                <td><b>IsCompleted</b></td>
                <td><b>Action</b></td>
            </tr>
            <tr ng-repeat="task in Tasks">
                <td>
                    {{task.taskId}}
                </td>
                <td>
                    {{task.Name}}
                </td>
                <td>
                    {{task.Priority}}
                </td>
                <td>
                    {{task.Date}}
                </td>
                <td>
                    {{task.Comment}}
                </td>
                <td>
                    {{task.IsCompleted}}
                </td>
                <td>
                    <span ng-click="editTask(task)" class="btn btn-primary">Edit</span>
                    <span ng-click="deleteTask(task)" class="btn btn-danger">Delete</span>
                </td>
            </tr>
        </table>
    </div>
    <span ng-click="AddTaskDiv()" class="btn btn-default">
        Add Task
    </span>
    <div ng-show="divTask">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><b><i>{{Action}} Task</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>Id</b></td>
                <td>
                    <input type="text" disabled="disabled" ng-model="taskId" />
                </td>
                <td><b>Name</b></td>
                <td>
                    <input type="text" ng-model="taskName" />
                </td>
            </tr>
            <tr>
                <td><b>Priority</td>
                <td>
                    <input type="text" ng-model="taskPriority" />
                </td>
                <td><b>Date</td>
                <td>
                    <input type="text" ng-model="taskDate" />
                </td>
            </tr>
            <tr>
                <td><b>Comment</b></td>
                <td>
                    <input type="text" ng-model="taskComment" />
                </td>
                <td><b>Is Completed</b></td>
                <td>
                    <input type="text" ng-model="taskIsCompleted" />
                </td>
                <td></td>
                <td>
                    <input type="button" class="btn btn-default" value="Save" ng-click="AddUpdateTask()" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
                </td>
            </tr>
        </table>
    </div>
</div>